*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 50px;
}
#programmer{
    width: 10rem;
}
#SecondSection{
   background-color: blueviolet;
}
.listedImages{
    width: 5rem;
}
